# Environment
APP_ENVIRONMENT=development

# Postgres
DB_NAME=entropy
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Production SMTP server
EMAIL_HOST=YOUR_AMAZON_SES_HOST
EMAIL_PORT=587
EMAIL_HOST_USER=YOUR_AMAZON_SES_HOST_USER
EMAIL_HOST_PASSWORD=YOUR_AMAZON_SES_HOST_PASSWORD
DEFAULT_FROM_EMAIL=YOUR_AMAZON_SES_DEFAULT_FROM_EMAIL

# AI
ANTHROPIC_BASE_URL=https://api.deepseek.com/anthropic
ANTHROPIC_API_KEY=your_deepseek_api_key_here

# Mypy
MYPY_DJANGO_CONFIG=./mypy.ini